<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kana %><br>
    <%= f.text_field :kana %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.number_field :sex %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :birth %><br>
    <%= f.datetime_select :birth %>
  </div>
  <div class="field">
    <%= f.label :marriage %><br>
    <%= f.number_field :marriage %>
  </div>
  <div class="field">
    <%= f.label :pref %><br>
    <%= f.text_field :pref %>
  </div>
  <div class="field">
    <%= f.label :carrier %><br>
    <%= f.text_field :carrier %>
  </div>
  <div class="field">
    <%= f.label :curry %><br>
    <%= f.text_field :curry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
